
@{
    ViewData["Title"] = "Check";
}

<h1>檢查帳號</h1>
<div>
    <form>
        <input type="text" id="name" name="name" required minlength="4" maxlength="8" size="10" />
    </form>
    <label>測試用</label>
</div>
@section Styles
{
    <style>

    </style>
}

@section Scripts
{
    <script>
   </script>
}
